ul{
  list-style: none;
  }

p, td{  
font-family: Impact, Charcoal, sans-serif;
font-size: 24px;
letter-spacing: 2.4px;
word-spacing: 0px;
color: #090066;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none;
}

body{
  background-image: url("/imagem/background.png");
}


img{
  width: 10rem;
  height: 11.5rem;
}
